.my-button {
  /* color: white; */
  cursor: pointer;
  margin: 3px;
  padding: 7px 15px;
  border-radius: 8px;
  border: none;
  background-color: #ff2525; 
  color: #eeeeee;
}

.my-button:hover {
  background-color: #cc0000; 
}

